# Terraform
infra-terraform-files/.terraform/
*.tfplan
*.tfstate
*.tfstate.backup
.terraform.lock.hcl # For older Terraform versions, this might not be ignored by default
.terraform.tfstate.lock.info
.terraform.tfstate
infra-terraform-files/state.tf
infra-terraform-files/.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*.tfvars
!*.tfvars.example # Keep example tfvars files
